header {
  background: $green;
  padding: 15px 0;
}

nav {
  padding-left: 0 !important;
}

.db-header {

  &__logo img {
    margin-right: 220px;
    margin-left: 77px;
    @media screen and (max-width: $medium) {
      width: 190px;
      height: 40px;
      margin: 0;
    }
    @media screen and (min-width: $large-x) and (max-width: 1025px){
      margin-right: 90px;

    }
  }
}

.db-nav-list {
  @media screen and (max-width: $large) {
    margin-top: 10px;
  }

  & li .nav-link__child {
    margin-left: 34px;
  }


  & li a {
    line-height: 1px;
    color: $white !important;
    cursor: pointer;
    position: relative;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    @media screen and (max-width: $large) {
      margin-bottom: 25px;
    }
    @media screen and (max-width: $medium) {
      display: flex;
      justify-content: center;
    }

    &::before {
      content: '';
      background: url(../img/ball-dots.png) no-repeat;
      height: 15px;
      width: 15px;
      position: absolute;
      right: -25px;
      top: 1px;
      @media screen and (max-width: $large) {
        background: none;
      }
    }

    &:hover::after {
      content: '';
      height: 2px;
      background: $white;
      width: 90%;
      position: absolute;
      bottom: -7px;
      left: 5px;
      @media screen and (max-width: $medium) {
        display: none;
      }
    }
  }

  & li .nav-link__first {
    @media screen and (max-width: $medium) {
      padding-left: 26px;
    }
  }

  & li .no-dots {
    &:before {
      display: none;

    }
  }
}
