.db-contacts {
  padding: 35px 0 18px;
  position: relative;

  &::before,
  &::after {
    content: '';
    height: 2px;
    width: 77%;
    background: #EFEEEF;
    position: absolute;
    left: 12%;
    right: 0;
  }

  &::before {
    top: 0;
  }

  &::after {
    bottom: 0;
  }

  &__block-title {
    display: flex;
    justify-content: space-between;
    @media screen and (max-width: $medium) {
      margin-bottom: 20px;
      justify-content: center;
    }
    @media screen and (min-width: $small) and (max-width: $medium) {
      justify-content: center;
      flex-direction: column;
      margin-bottom: 20px;
    }
  }

  &__title {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700 !important;
    padding: 13px 9px 0 0;
    margin: 0;
  }

  &__logo img {
    margin-bottom: 30px;
    @media screen and (max-width: $medium) {
      margin-bottom: 20px;
    }
  }

  &__text {
    font-family: $text-font-family;
    font-size: 14px;
    font-weight: 300;
    color: #434344;
    letter-spacing: 1.4px;
    @media screen and (max-width: $medium) {
      text-align: center;
    }
  }

  &__link {
    margin-left: 155px;
    display: flex;
    flex-direction: column;
    text-align: right;

    @media screen and (max-width: $medium) {
      text-align: center;
      margin: 0;
    }

    & a {
      display: block;
      font-family: $text-font-family;
      font-size: 24px;
      font-weight: 300;
      color: #232324;
      margin-bottom: 5px;

      &:hover {
        color: #232324;
        opacity: .7;
      }
    }
  }
}
