.db-partners {
  margin-bottom: 42px;

  &__title {
    font-size: 36px;
    font-weight: 400;
    margin-bottom: 22px;
    text-transform: uppercase;
    letter-spacing: 4px;
    @media screen and (max-width: $medium) {
      text-align: center;
    }
  }

  &__subtitle {
    font: 12px $text-font-family;
    font-style: italic;
    color: $grayscale;
    @media screen and (max-width: $medium) {
      text-align: center;
    }
  }

  &__arrow {
    text-align: right;
    @media screen and (max-width: $medium) {
      margin-bottom: 20px;
      text-align: center;
    }

    & a {
      width: 40px;
      height: 33px;

      &:last-child {
        margin-left: 20px;
        margin-right: 6px;
      }

      & svg {
        vertical-align: unset;

        &:hover {
          fill: $white;
        }
      }
    }
  }

  &__partner-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 330px;
    height: 230px;

    &:hover {
      background: $light-gray;
    }
  }
}

