<footer class="db-footer">
    <div class="container-my">
        <div class="row">
            <div class="db-footer__socials col-sm-12 col-md-12 col-lg-4">
                <a href="#"><svg width="25" height="25">
                    <use xlink:href="#icon-new-facebook" />
                </svg></a>
                <a href="#">
                    <svg width="25" height="25">
                        <use xlink:href="#icon-new-twitter" />
                    </svg>
                </a>
                <a href="#">
                    <svg width="25" height="25">
                        <use xlink:href="#icon-skype" />
                    </svg>
                </a>

            </div>
            <div class="db-footer__copyright col-sm-12 col-md-12 col-lg-4">
                <img src="./assets/img/circle-dots-black.png" alt="circle-dots-black">
                © 2013</div>
            <div class="db-footer__link-up col-sm-12 col-md-12 col-lg-4">
                <a href="#logo">To the top</a>
            </div>
        </div>
    </div>
</footer>
