<section class="db-contacts">
    <div class="container-my">
        <div class="db-contacts__block-title">
            <a class="db-contacts__logo " href="#">
                <img src="./assets/img/footer-logo.png"
                     alt="logo">
            </a>
            <h3 class="db-contacts__title">
                Quick Contacts
            </h3>
        </div>
        <div class="row">
            <p class="db-contacts__text col-sm-12s col-md-12 col-lg-6">
                Lorem ipsum dolor sit tamet, consectetur adipiscing elit. Quisque vel lobortis neque, nec dictum erat.
                Proin malesuada, neque at facilisis posuere, tortor arcu vulputate dui, in sodales sem lacus sit amet
                diam.</p>
            <div class="db-contacts__link col-sm-12 col-md-12 col-lg-6">
                <a href="tel:421.909.123.456">421.909.123.456</a>
                <a href="mailto:hello@planeto.com">hello@planeto.com</a>
            </div>
        </div>
    </div>
</section>

