<section class="db-partners">
    <div class="container-my">

        <div class="row">
            <h2 class="db-partners__title col-sm-9 col-md-8 col-lg-10">Our wonderful partners</h2>
            <div class="db-partners__arrow col-sm-3 col-md-4 col-lg-2">
                <a class="btn btn__partners btn-outline-dark" href="#">
                    <svg width="8.56" height="12.62" >
                        <use xlink:href="#arrow-left"/>
                    </svg>
                </a>
                <a class="btn btn--partners btn-outline-dark" href="#">
                    <svg  width="8.56" height="12.62">
                        <use xlink:href="#arrow-right"/>
                    </svg>
                </a>
            </div>
        </div>
        <p class="db-partners__subtitle">Move over logo to see testimonial</p>
        <div class="db-partners__block-partners row">
            <div class="db-partners__partner-item col-sm-6 col-md-4 col-lg-4">
                <img src="../assets/img/partner-cudi-airplanes.png" alt="cudi airplanes">
            </div>
            <div class="db-partners__partner-item col-sm-6 col-md-4 col-lg-4">
                <img src="../assets/img/partner-text.png" alt="text">
            </div>
            <div class="db-partners__partner-item col-sm-6 col-md-4 col-lg-4">
                <img src="../assets/img/partner-health.png" alt="health">
            </div>
            <div class="db-partners__partner-item col-sm-6 col-md-4 col-lg-4">
                <img src="../assets/img/partner-king-food.png" alt="king food">
            </div>
            <div class="db-partners__partner-item col-sm-6 col-md-4 col-lg-4">
                <img src="../assets/img/partner-nuke-studios.png" alt="nuke studios">
            </div>
            <div class="db-partners__partner-item col-sm-6 col-md-4 col-lg-4">
                <img src="../assets/img/partner-star-caffee.png" alt="star caffee">
            </div>

        </div>
    </div>
</section>
