<section class="db-status">
    <div class="container-my">
        <h2 class="db-status__title">
            Conquering web from 2009 and these are our stats ... so far ;)
        </h2>

            <ul class="db-status__list d-flex">
                <li class="db-status__item">
                    186 <span>satisfied
                    clients</span>
                </li>
                <li class="db-status__item">
                    657 <span>completed
                    projects</span>
                </li>
                <li class="db-status__item">
                    1,340 <span>coffees
                    drinked</span>
                </li>
                <li class="db-status__item no-dots">
                    652 <span class="last-span">hours played
                    battlefield 3</span>
                </li>
            </ul>
    </div>
</section>
